
<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<meta name="viewport" content="width=device-width, initial-scale=1"><script data-ad-client="ca-pub-1835102476528913" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta name="google-site-verification" content="crXRAcsvkxct6EKpN2gs3ReF4_5GwxJAAkQBO9VJtps" />

<!-- end custom head snippets -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/logo/favicon.ico?v=K34luO5Tfyl32G">
