
<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<script data-ad-client="ca-pub-1835102476528913" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta name="google-site-verification" content="crXRAcsvkxct6EKpN2gs3ReF4_5GwxJAAkQBO9VJtps" />

<!-- end custom head snippets -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/logo/favicon.ico?v=K34luO5Tfyl32G">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google.tracking_id }}', {'anonymize_ip': {{site.analytics.google.anonymize_ip | default: false }} });
</script>
