{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">

        <!-- {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a> -->
        <div style="display: flex; flex-direction: column;">

          <a class="site-title" href="{{ '/' | relative_url }}" style="align-self: flex-start;" >
            <div style="display: flex; flex-direction: row;">
                
              <!-- <div style="width: 2em; margin-right: -3px;"><img src="/assets/logo/averos.svg" alt="{{ site.masthead_title | default: site.title }}"></div> -->
      
              <div style="width: 2em; margin-right: -2px;">
                <div id="averos-anim-header"></div>
              </div>
              <div style="display: flex; flex-direction: row; font-size: 1.35em;">
                  <div style="color: #945671;">
                    v
                  </div>
                  <div style="color: #3D8DD8;">
                    e
                  </div>
                  <div style="color: #96C331;">
                  r
                  </div>
                  <div style="color: #FCDF12;">
                    o
                  </div>
                  <div style="color: #F28C1E;">
                    s&nbsp;
                  </div>
              </div>     
  
            </div>
          </a>
          <a class="site-title" href="{{ '/' | relative_url }}">
            <!-- {{ site.masthead_title | default: site.title }} -->
            {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
          </a>
      </div>

        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item drop-down-menu">
              <a href="{{ link.url | flatify | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>

              {% if link.children != null %}
              <div class="drop-down-menu-group">
                  <ul>
                    {% for child in link.children %}
                        {% if child.url %}
                        <li class="drop-down-menu-item">
                          <a href="{{ child.url | flatify | relative_url }}">{{ child.title }}</a>  
                        </li>
                        {% else %}
                          <span class="nav__sub-title">{{ child.title }}</span>
                        {% endif %}

                    {% endfor %}
                  </ul>
              </div>
              {% endif %}

            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
