{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}

{% if page.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<div class="upper-home-screen page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
  style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}">
  <!-- <div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
  style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}{% endif %}"> -->

  {% if page.header.overlay_color or page.header.overlay_image %}
    
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
        <div style="display: flex; flex-direction: row; align-self: flex-start;">
            <div style="width: 1.3em; margin-right: -3px;">
              <div id="averos-anim">
              </div>
            </div>
            <div style="color: #945671; font-size: 1.2em;">
              v
            </div>
            <div style="color: #3D8DD8; font-size: 1.2em;">
              e
            </div>
            <div style="color: #96C331; font-size: 1.2em;">
            r
            </div>
            <div style="color: #FCDF12; font-size: 1.2em;">
              o
            </div>
            <div style="color: #F28C1E; font-size: 1.2em;">
              s&nbsp;
            </div>
          <div style= "display: flex; flex-direction: table">
            <span style="align-self: flex-end;">
            <small style="font-size: 0.4em;"> Framework </small></span>
          </div>
        </div>
      </h1>
        <p class="page__lead">A <b style="color: #3D8DD8;">deterministic</b> software engineering platform for <b style="color: #96C331;">building</b> and <b style="color: #F28C1E;">evolving</b> applications from <b style="color: #FCDF12;">structured intent</b>.</p>
      {% include page__meta.html %}

      {% if page.header.actions %}
        <p>   
        
        <!-- <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>   -->
        <div style="margin-top: 4em;">
          {% for action in page.header.actions %}
          <a href="{{ action.url | flatify | relative_url }}" 
              class="btn {{action.color | default: 'btn--red'}} btn--large"
              {% if action.url contains '://' %}target="_blank" rel="noopener noreferrer"{% endif %}
              >
              {{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}
          </a>

          {% endfor %}
        </div>

      {% endif %}
    </div>

        
    <!-- <div class="home-slider">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/3.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/4.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/5.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="/assets/home/hcarousel/6.png" style="width:100%">
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
      </div>
    </div> -->

  {% else %}
    <img src="{{ page.header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
  {% endif %}
  {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>