
$text-color: #171c4b !default;
$footer-background-color: #273339 !default;
$header-background: #FFF !default;

// Steaky Header
.masthead {
  -webkit-box-shadow: 0 7px 6px -6px #777;
  -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
  position: fixed !important;
  border-bottom: 0px !important;
  top: 0;
  width: 100%;
  background-color: $header-background !important;
  transition: top 0.3s;
  .masthead__inner-wrap nav {
    background-color: $header-background !important;
    
  }
}

.masthead__inner-wrap {
  padding: 0.7em !important;
}

.wrapper{

  padding-top: 40px;
}

.page {
  padding-top: 100px;
}

#main {
  padding-top: 30px;
}

.sidebar{
  margin-top: 3em;
  scroll-behavior: smooth;
}
//////////////////// end steaky header /////////
.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.btn{
  
  &--blue {
  background-color: #3D8DD8 ;
  color: #fff !important;
}

&--blue:hover {
  background-color: #194e80;
  color: #fff !important;
}

&--pink {
  background-color: #945671 ;
  color: #fff !important;
}

&--pink:hover {
  background-color: #502c3c ;
  color: #fff !important;
}

&--red {
  background-color: #E8382A ;
  color: #fff !important;
}

&--red:hover {
  background-color: #8f0f06 ;
  color: #fff !important;
}

&--orange {
  background-color: #F28C1E;
  color: #fff !important;
}

&--orange:hover {
  background-color: #96550f;
  color: #fff !important;
}

&--yellow {
  background-color: #DEC410 ;
  color: #fff !important;
}

&--yellow:hover {
  background-color: #96840e ;
  color: #fff !important;
}

&--green {
  background-color: #96C331 ;
  color: #fff !important;
}

&--green:hover {
  background-color: #4c7220 ;
  color: #fff !important;
}

&--darkgreen {
  background-color: #2FA64F ;
  color: #fff !important;
}

&--darkgreen:hover {
  background-color: rgb(53, 80, 23) ;
  color: #fff !important;
}


}

.site-subtitle {
  font-size: 0.4em !important;
  margin-left: 2.2em;
  margin-top: -0.8em;
}

#averos-anim {

  // max-width: 800px;
  // margin: 0 auto;
  background: transparent;
  // width: 100px;
  // height: 100px;
  // svg {
  //   display: inline;
  //   height: fit-content;
  // }
  
}

.logo-lottie {
  width: 1.3em; 
  margin-right: -5px;
  // display: flex; 
  // flex-direction: row; 
  // align-self: flex-start;

}